* {
    padding: 0%;
    margin: 0%;
}

body {
    width: 100vw;
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .textbox {
        margin: 1%;
        width: 20rem;
        height: 10rem;
    }
}